* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  min-width: none;
  margin: 0 auto;
}
body {
  
}

.nav {
  margin: 1.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.nav nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  font-weight: bold;
  font-size: 18px;
  color: rgb(145, 194, 235);
}
.nav a {
  text-decoration: none;
  font-size: 18px;
  color: rgb(145, 194, 235);
  font-weight: bold;
  background-color: black;
  text-align: center;
  padding: .5rem .8rem;
  border-radius: 10px;
}
@media(max-width: 426px) {
  .nav {
    margin: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  .nav nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    font-weight: bold;
    font-size: 18px;
    color: rgb(145, 194, 235);
  }
  .nav a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(145, 194, 235);
    font-weight: bold;
    background-color: black;
    text-align: center;
    padding: .5rem .8rem;
    border-radius: 10px;
  }
}

.hero {
  margin: 1.5rem 3rem;
  display: flex;
  align-items: center;
  /* width: 100%; */
  gap: 10%;
}
.hero div {
  width: 60%;
}
.hero div h1 {
  font-size: 52px;
  padding-bottom: 1.8rem;
}
.hero div p {
  line-height: 1.6rem;
  color: rgb(126, 124, 124);
  font-weight: bold;
  word-spacing: 4px;
  margin-bottom: 1.8rem;
}
.hero div p:nth-of-type(2) b {
  color: black;
}
.hero img {
  width: 30%;
  height: 300px;
  width: 280px;
}
@media(max-width: 426px) {
  .hero {
    margin: 1.5rem 1.1rem;
    flex-direction: column-reverse;
    gap: 0;
  }
  .hero div {
    width: 100%;
  }
  .hero div h1 {
    display: none;
  }
}

.about {
  padding: 4rem 3rem;
  /* margin-top: 3rem; */
  background-color: rgb(235, 223, 235);
}
.about h5 {
  background-color: rgb(198, 192, 192);
  padding: 10px;
  text-align: center;
  width: 80px;
  margin: 0 auto 2rem;
  border-radius: 10px;
}
.about section {
  display: flex;
  width: 100%;
  gap: 10%;
}
.img-container {
  width: 40%;
  height: 300px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.about section div img {
  width: 100%;
}
.about section div h3 {
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 1.2rem;
}
.about section div p {
  margin-bottom: 1.2rem;
}
.about section div b {
  font-weight: normal;
  text-decoration: underline;
}
.about section div a {
  font-weight: bold;
  text-decoration: none;
  color: grey;
}
@media (max-width: 426px) {
  .about {
    padding: 1rem 1.1rem;
  }
  .about section {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
  }
  .img-container {
    display: none;
  }
  .about section div h3 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 1.2rem;
  }
  .about section div a {
    font-weight: bold;
    text-decoration: none;
    color: grey;
  }
  .about section div:nth-of-type(2) {
    width: 100%;
  }
}

.skill {
  margin-top: 4rem;
  background-color: whitesmoke;
}
.skills {
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 3rem;
}
.skills h3 {
  background-color: rgb(198, 192, 192);
  padding: 10px;
  width: 80px;
  margin: 0 auto 1rem;
  border-radius: 10px;
}
.skills p {
  font-size: 18px;
}

.skillset {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
  margin: 0 auto;
}
.skillset span {
  margin-bottom: 1.2rem;
}
.skillset h1 {
  font-weight: 600;
  font-style: italic;
}
@media(max-width: 426px) {
  
  .skillset {
    grid-template-columns: repeat(3, 1fr);
  }
}

.contact {
  padding: 2rem 0;
  text-align: center;
  font-weight: bold;
  color: rgb(189, 189, 237);
  font-style: italic;
  font-size: 20px;
}










/* html  */
.logos--html-5 {
  display: inline-block;
  width: 2rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 361'%3E%3Cpath fill='%23e44d26' d='m255.555 70.766l-23.241 260.36l-104.47 28.962l-104.182-28.922L.445 70.766z'/%3E%3Cpath fill='%23f16529' d='m128 337.95l84.417-23.403l19.86-222.49H128z'/%3E%3Cpath fill='%23ebebeb' d='M82.82 155.932H128v-31.937H47.917l.764 8.568l7.85 88.01H128v-31.937H85.739zm7.198 80.61h-32.06l4.474 50.146l65.421 18.16l.147-.04V271.58l-.14.037l-35.568-9.604z'/%3E%3Cpath d='M24.18 0h16.23v16.035h14.847V0h16.231v48.558h-16.23v-16.26H40.411v16.26h-16.23V0M92.83 16.103H78.544V0h44.814v16.103h-14.295v32.455h-16.23V16.103zM130.47 0h16.923l10.41 17.062L168.203 0h16.93v48.558h-16.164V24.49l-11.166 17.265h-.28L146.35 24.49v24.068h-15.88zm62.74 0h16.235v32.508h22.824v16.05h-39.06z'/%3E%3Cpath fill='%23fff' d='M127.89 220.573h39.327l-3.708 41.42l-35.62 9.614v33.226l65.473-18.145l.48-5.396l7.506-84.08l.779-8.576H127.89zm0-64.719v.078h77.143l.64-7.178l1.456-16.191l.763-8.568H127.89z'/%3E%3C/svg%3E");
}
/* css  */
.logos--css-3 {
  display: inline-block;
  width: 2rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 361'%3E%3Cpath fill='%23264de4' d='M127.844 360.088L23.662 331.166L.445 70.766h255.11l-23.241 260.36z'/%3E%3Cpath fill='%232965f1' d='m212.417 314.547l19.86-222.49H128V337.95z'/%3E%3Cpath fill='%23ebebeb' d='m53.669 188.636l2.862 31.937H128v-31.937zm-5.752-64.641l2.903 31.937H128v-31.937zM128 271.58l-.14.037l-35.568-9.604l-2.274-25.471h-32.06l4.474 50.146l65.421 18.16l.147-.04z'/%3E%3Cpath d='M60.484 0h38.68v16.176H76.66v16.176h22.506v16.175H60.484zm46.417 0h38.681v14.066h-22.505v2.813h22.505v32.352h-38.68V34.46h22.505v-2.813H106.9zm46.418 0H192v14.066h-22.505v2.813H192v32.352h-38.681V34.46h22.505v-2.813H153.32z'/%3E%3Cpath fill='%23fff' d='m202.127 188.636l5.765-64.641H127.89v31.937h45.002l-2.906 32.704H127.89v31.937h39.327l-3.708 41.42l-35.62 9.614v33.226l65.473-18.145l.48-5.396l7.506-84.08z'/%3E%3C/svg%3E");
}
/* sass  */
.vscode-icons--file-type-scss {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23cd6799' d='M16.171 18.7c-.481.221-1.008.509-2.063 1.088c-.4.225-.818.45-1.207.662c-.027-.027-.055-.061-.082-.089c-2.087-2.23-5.947-3.805-5.783-6.8c.061-1.091.436-3.955 7.413-7.433c5.742-2.83 10.311-2.046 11.1-.307c1.134 2.479-2.449 7.092-8.379 7.761a4.47 4.47 0 0 1-3.751-.948c-.314-.341-.361-.361-.477-.293c-.191.1-.068.409 0 .586a3.5 3.5 0 0 0 2.141 1.684a11.4 11.4 0 0 0 6.956-.689c3.594-1.391 6.4-5.258 5.578-8.5c-.825-3.287-6.281-4.371-11.443-2.537a26 26 0 0 0-8.79 5.047c-2.844 2.66-3.294 4.972-3.11 5.94c.662 3.437 5.4 5.674 7.3 7.331q-.148.08-.259.143c-.948.471-4.562 2.36-5.463 4.358c-1.023 2.264.164 3.887.948 4.105a5.83 5.83 0 0 0 6.281-2.544a6.3 6.3 0 0 0 .559-5.8a5 5 0 0 1 .716-.477c.484-.286.945-.568 1.354-.786a10.5 10.5 0 0 1 4.475-.989c3.246.382 3.887 2.407 3.764 3.26a2.16 2.16 0 0 1-1.03 1.459c-.225.143-.3.191-.28.293c.027.15.136.143.327.116a2.535 2.535 0 0 0 1.766-2.257c.1-2-1.807-4.194-5.183-4.174a7.8 7.8 0 0 0-2.946.587q-.225.093-.437.2Zm-4.825 7.839c-1.078 1.173-2.578 1.616-3.226 1.241c-.7-.4-.423-2.135.9-3.376a17 17 0 0 1 2.53-1.889c.157-.1.389-.232.668-.4l.075-.041l.164-.1a4.66 4.66 0 0 1-1.111 4.565'/%3E%3C/svg%3E");
}
/* bootstrap  */
.devicon--bootstrap-wordmark {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='url(%23deviconBootstrapWordmark0)' d='M14.985 15.15c-.237-6.815 5.072-13.099 12.249-13.099h73.54c7.177 0 12.486 6.284 12.249 13.099c-.228 6.546.068 15.026 2.202 21.94c2.141 6.936 5.751 11.319 11.664 11.883v6.387c-5.913.563-9.523 4.947-11.664 11.883c-2.134 6.914-2.43 15.394-2.202 21.94c.237 6.815-5.072 13.098-12.249 13.098h-73.54c-7.177 0-12.486-6.284-12.249-13.098c.228-6.546-.068-15.026-2.203-21.94c-2.14-6.935-5.76-11.319-11.673-11.883v-6.387c5.913-.563 9.533-4.947 11.673-11.883c2.135-6.914 2.43-15.394 2.203-21.94'/%3E%3Cg filter='url(%23deviconBootstrapWordmark2)'%3E%3Cpath fill='url(%23deviconBootstrapWordmark1)' d='M67.11 79.174c11.619 0 18.62-5.689 18.62-15.072c0-7.093-4.995-12.228-12.413-13.041v-.296c5.45-.886 9.726-5.947 9.726-11.6c0-8.053-6.358-13.299-16.047-13.299h-21.8v53.308zM53.674 32.627h11.279c6.13 0 9.613 2.733 9.613 7.684c0 5.282-4.05 8.238-11.392 8.238h-9.5zm0 39.787V54.866h11.203c8.023 0 12.186 2.955 12.186 8.718s-4.049 8.83-11.694 8.83z'/%3E%3Cpath fill='%23fff' d='M67.11 79.174c11.619 0 18.62-5.689 18.62-15.072c0-7.093-4.995-12.228-12.413-13.041v-.296c5.45-.886 9.726-5.947 9.726-11.6c0-8.053-6.358-13.299-16.047-13.299h-21.8v53.308zM53.674 32.627h11.279c6.13 0 9.613 2.733 9.613 7.684c0 5.282-4.05 8.238-11.392 8.238h-9.5zm0 39.787V54.866h11.203c8.023 0 12.186 2.955 12.186 8.718s-4.049 8.83-11.694 8.83z'/%3E%3C/g%3E%3Cpath fill='%237952b3' d='M11.398 121.43v-17.738h5.047q2.3 0 3.649 1.126q1.348 1.125 1.348 2.931q0 1.51-.816 2.623q-.817 1.113-2.252 1.583v.05q1.794.21 2.87 1.36q1.076 1.138 1.076 2.969q0 2.276-1.632 3.686q-1.633 1.41-4.12 1.41zm2.078-15.858v5.727h2.128q1.707 0 2.684-.816q.977-.83.977-2.326q0-2.585-3.402-2.585zm0 7.595v6.383h2.82q1.83 0 2.833-.866q1.014-.866 1.014-2.375q0-3.142-4.28-3.142zm17.466 8.563q-2.808 0-4.49-1.769q-1.67-1.78-1.67-4.713q0-3.19 1.744-4.985q1.745-1.793 4.713-1.793q2.832 0 4.416 1.744q1.595 1.744 1.595 4.836q0 3.031-1.72 4.862q-1.706 1.818-4.588 1.818m.148-11.553q-1.954 0-3.092 1.336q-1.138 1.323-1.138 3.661q0 2.252 1.15 3.55q1.15 1.3 3.08 1.3q1.967 0 3.019-1.275q1.063-1.274 1.063-3.624q0-2.375-1.063-3.662q-1.052-1.286-3.019-1.286m14.696 11.553q-2.808 0-4.49-1.769q-1.67-1.78-1.67-4.713q0-3.19 1.744-4.985q1.745-1.793 4.713-1.793q2.832 0 4.416 1.744q1.596 1.744 1.596 4.836q0 3.031-1.72 4.862q-1.707 1.818-4.59 1.818Zm.148-11.553q-1.954 0-3.092 1.336q-1.138 1.323-1.138 3.661q0 2.252 1.15 3.55q1.15 1.3 3.08 1.3q1.967 0 3.019-1.275q1.063-1.274 1.063-3.624q0-2.375-1.063-3.662q-1.052-1.286-3.02-1.286ZM61.21 121.31q-.717.396-1.893.396q-3.327 0-3.327-3.711v-7.496h-2.177v-1.732h2.177v-3.092l2.029-.656v3.748h3.19v1.732h-3.19v7.137q0 1.274.433 1.819q.432.544 1.434.544q.767 0 1.324-.42zm1.942-.34v-2.177q1.657 1.224 3.649 1.224q2.672 0 2.672-1.78q0-.508-.235-.854a2.1 2.1 0 0 0-.619-.631a4.3 4.3 0 0 0-.915-.482a35 35 0 0 0-1.126-.458a16 16 0 0 1-1.484-.668a5 5 0 0 1-1.064-.767a3.1 3.1 0 0 1-.643-.977q-.21-.544-.21-1.274q0-.89.408-1.571a3.5 3.5 0 0 1 1.088-1.15a5 5 0 0 1 1.547-.706a7 7 0 0 1 1.806-.235q1.645 0 2.944.57v2.053q-1.398-.916-3.217-.916q-.57 0-1.026.136a2.5 2.5 0 0 0-.792.36a1.7 1.7 0 0 0-.507.568a1.5 1.5 0 0 0-.173.718q0 .493.173.828q.184.335.532.594q.346.26.841.47t1.126.458q.84.321 1.509.668a5 5 0 0 1 1.138.767q.47.42.717.977q.26.556.26 1.323q0 .94-.42 1.633q-.41.693-1.102 1.15a5.1 5.1 0 0 1-1.595.681a8 8 0 0 1-1.893.223q-1.954 0-3.39-.755zm17.39.34q-.716.396-1.892.396q-3.327 0-3.327-3.711v-7.496h-2.177v-1.732h2.177v-3.092l2.029-.656v3.748h3.19v1.732h-3.19v7.137q0 1.274.433 1.819q.432.544 1.434.544q.767 0 1.324-.42v1.731Zm9.316-10.49q-.532-.408-1.534-.408q-1.3 0-2.177 1.224q-.866 1.225-.866 3.34v6.457h-2.028v-12.666h2.028v2.61h.05q.434-1.336 1.323-2.078q.89-.755 1.992-.755q.79 0 1.212.174zm11.271 10.61H99.1v-1.98h-.05q-1.322 2.277-3.894 2.277q-1.893 0-2.97-1.002q-1.063-1.002-1.063-2.66q0-3.55 4.18-4.13l3.798-.533q0-3.228-2.61-3.228q-2.288 0-4.131 1.558v-2.078q1.867-1.187 4.305-1.187q4.465 0 4.465 4.725zm-2.03-6.407l-3.054.42q-1.41.198-2.128.705q-.717.495-.717 1.769q0 .928.656 1.522q.668.58 1.769.58q1.51 0 2.486-1.05q.99-1.063.99-2.685l-.001-1.261Zm7.93 4.577h-.05v7.657h-2.028v-18.493h2.029v2.226h.049q1.497-2.523 4.379-2.523q2.45 0 3.822 1.707q1.373 1.694 1.373 4.552q0 3.179-1.546 5.096q-1.547 1.905-4.23 1.905q-2.462 0-3.798-2.128zm-.05-5.109v1.77q0 1.57 1.015 2.671q1.027 1.089 2.597 1.089q1.843 0 2.883-1.41q1.05-1.41 1.05-3.922q0-2.115-.976-3.315q-.977-1.2-2.647-1.2q-1.77 0-2.845 1.237q-1.077 1.225-1.077 3.08'/%3E%3Cdefs%3E%3ClinearGradient id='deviconBootstrapWordmark0' x1='19.8' x2='129.708' y1='4.704' y2='91.95' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%239013fe'/%3E%3Cstop offset='1' stop-color='%236610f2'/%3E%3C/linearGradient%3E%3ClinearGradient id='deviconBootstrapWordmark1' x1='49.032' x2='73.598' y1='29.374' y2='70.922' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23fff'/%3E%3Cstop offset='1' stop-color='%23f1e5fc'/%3E%3C/linearGradient%3E%3Cfilter id='deviconBootstrapWordmark2' width='48.641' height='61.415' x='41.143' y='22.795' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='.983'/%3E%3CfeGaussianBlur stdDeviation='1.965'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_2_2'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_2_2' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
}
/* JS  */
.logos--javascript {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%23f7df1e' d='M0 0h256v256H0z'/%3E%3Cpath d='m67.312 213.932l19.59-11.856c3.78 6.701 7.218 12.371 15.465 12.371c7.905 0 12.89-3.092 12.89-15.12v-81.798h24.057v82.138c0 24.917-14.606 36.259-35.916 36.259c-19.245 0-30.416-9.967-36.087-21.996m85.07-2.576l19.588-11.341c5.157 8.421 11.859 14.607 23.715 14.607c9.969 0 16.325-4.984 16.325-11.858c0-8.248-6.53-11.17-17.528-15.98l-6.013-2.58c-17.357-7.387-28.87-16.667-28.87-36.257c0-18.044 13.747-31.792 35.228-31.792c15.294 0 26.292 5.328 34.196 19.247l-18.732 12.03c-4.125-7.389-8.591-10.31-15.465-10.31c-7.046 0-11.514 4.468-11.514 10.31c0 7.217 4.468 10.14 14.778 14.608l6.014 2.577c20.45 8.765 31.963 17.7 31.963 37.804c0 21.654-17.012 33.51-39.867 33.51c-22.339 0-36.774-10.654-43.819-24.574'/%3E%3C/svg%3E");
}
/* react  */
.skill-icons--react-dark {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cg fill='none'%3E%3Crect width='256' height='256' fill='%23242938' rx='60'/%3E%3Cpath fill='%2300d8ff' d='M128.001 146.951c10.304 0 18.656-8.353 18.656-18.656c0-10.303-8.352-18.656-18.656-18.656c-10.303 0-18.656 8.353-18.656 18.656c0 10.303 8.353 18.656 18.656 18.656'/%3E%3Cpath stroke='%2300d8ff' stroke-width='8.91' d='M128.002 90.363c25.048 0 48.317 3.594 65.862 9.635C215.003 107.275 228 118.306 228 128.295c0 10.409-13.774 22.128-36.475 29.649c-17.162 5.686-39.746 8.654-63.523 8.654c-24.378 0-47.463-2.786-64.819-8.717C41.225 150.376 28 138.506 28 128.295c0-9.908 12.41-20.854 33.252-28.12c17.61-6.14 41.453-9.812 66.746-9.812z' clip-rule='evenodd'/%3E%3Cpath stroke='%2300d8ff' stroke-width='8.91' d='M94.981 109.438c12.514-21.698 27.251-40.06 41.249-52.24c16.864-14.677 32.914-20.425 41.566-15.436c9.017 5.2 12.288 22.988 7.463 46.41c-3.645 17.707-12.359 38.753-24.238 59.351c-12.179 21.118-26.124 39.724-39.931 51.792c-17.471 15.272-34.362 20.799-43.207 15.698c-8.583-4.946-11.865-21.167-7.747-42.852c3.479-18.323 12.21-40.812 24.841-62.723z' clip-rule='evenodd'/%3E%3Cpath stroke='%2300d8ff' stroke-width='8.91' d='M95.012 147.578c-12.549-21.674-21.093-43.616-24.659-61.826c-4.293-21.941-1.258-38.716 7.387-43.72c9.009-5.216 26.052.834 43.934 16.712c13.52 12.004 27.403 30.061 39.316 50.639c12.214 21.098 21.368 42.473 24.929 60.461c4.506 22.764.859 40.157-7.978 45.272c-8.574 4.964-24.265-.291-40.996-14.689c-14.136-12.164-29.26-30.959-41.933-52.849Z' clip-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E");
}
/* next  */
.logos--nextjs {
  display: inline-block;
  width: 4.93em;
  height: 3rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 104'%3E%3Cpath d='M429.543.043v16.46h-35.377V103.1h-17.69V16.504h-36.114V.043zm3.977 93.24c1.246 0 2.336.448 3.259 1.346c.936.897 1.402 1.972 1.415 3.224a4.5 4.5 0 0 1-.66 2.327a4.8 4.8 0 0 1-1.714 1.665a4.4 4.4 0 0 1-2.3.626c-1.296 0-2.398-.449-3.32-1.346c-.923-.898-1.38-1.985-1.368-3.272q-.017-1.878 1.368-3.224c.922-.898 2.024-1.346 3.32-1.346M82.916 103.1L17.69 22.028v81.03H0V0h22.111l82.406 102.329l.001-85.825l-.007-16.461h89.18v16.46h-71.484v26.48h57.488v16.461h-57.488V86.64h71.485v16.46zm167.469-43.813L261.978 73.7l-23.755 29.522h-23.215zM238.223.086l29.93 37.17L297.989.2l23.15-.035l-41.396 51.485l41.463 51.493h-23.217L215.074.086zm225.488 58.97h7.838v30.2c-.011 2.775-.612 5.148-1.785 7.145c-1.187 1.995-2.83 3.519-4.938 4.594c-2.098 1.062-4.555 1.606-7.348 1.606c-2.553 0-4.841-.46-6.879-1.358s-3.655-2.244-4.842-4.016c-1.2-1.771-1.787-3.98-1.787-6.625h7.852c.012 1.157.275 2.16.778 3a5 5 0 0 0 2.086 1.924q1.348.675 3.091.674c1.26 0 2.338-.26 3.213-.792q1.312-.78 2.014-2.338c.455-1.028.695-2.303.707-3.815zm40.09 11.81c-.19-1.83-1.03-3.26-2.492-4.275c-1.475-1.028-3.38-1.535-5.718-1.535c-1.64 0-3.055.248-4.23.732c-1.174.496-2.085 1.157-2.709 1.996c-.622.838-.934 1.795-.959 2.87c0 .897.216 1.677.635 2.326a5.2 5.2 0 0 0 1.714 1.666a11.5 11.5 0 0 0 2.398 1.145q1.33.46 2.66.78l4.087 1.004c1.643.378 3.237.885 4.759 1.535c1.521.638 2.9 1.453 4.11 2.433q1.817 1.47 2.877 3.543c.707 1.382 1.067 3 1.067 4.866c0 2.515-.647 4.724-1.954 6.637c-1.306 1.902-3.188 3.39-5.657 4.465c-2.457 1.063-5.43 1.606-8.929 1.606c-3.38 0-6.328-.52-8.81-1.559c-2.492-1.027-4.434-2.54-5.837-4.524s-2.157-4.405-2.265-7.251h7.768c.107 1.488.587 2.728 1.402 3.732c.826.992 1.905 1.724 3.224 2.22c1.33.485 2.816.733 4.458.733c1.714 0 3.224-.26 4.53-.768c1.295-.508 2.313-1.216 3.045-2.138c.743-.91 1.115-1.984 1.127-3.212c-.012-1.122-.349-2.055-.996-2.788q-.989-1.098-2.733-1.842c-1.173-.496-2.54-.945-4.098-1.334l-4.962-1.252c-3.584-.91-6.424-2.291-8.498-4.146c-2.085-1.854-3.116-4.31-3.116-7.393c0-2.527.695-4.748 2.098-6.65c1.39-1.9 3.296-3.377 5.705-4.428c2.42-1.063 5.154-1.583 8.197-1.583c3.093 0 5.801.52 8.139 1.583c2.336 1.051 4.171 2.515 5.5 4.381c1.331 1.867 2.027 4.004 2.063 6.425z'/%3E%3C/svg%3E");
}
/* tailwind  */
.skill-icons--tailwindcss-dark {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cg fill='none'%3E%3Crect width='256' height='256' fill='%23242938' rx='60'/%3E%3Cpath fill='url(%23skillIconsTailwindcssDark0)' fill-rule='evenodd' d='M83 110c6-24 21.001-36 45-36c36 0 40.5 27 58.5 31.5c12.001 3.001 22.5-1.499 31.5-13.5c-5.999 23.999-21.001 36-45 36c-36 0-40.5-27-58.5-31.5C102.499 93.5 92 98 83 110m-45 54c6-23.999 21-36 45-36c36 0 40.5 27 58.5 31.5c12.001 3.001 22.5-1.499 31.5-13.5c-5.999 23.999-21.001 36-45 36c-36 0-40.5-27-58.5-31.5c-12-3.001-22.5 1.499-31.5 13.5' clip-rule='evenodd'/%3E%3Cdefs%3E%3ClinearGradient id='skillIconsTailwindcssDark0' x1='86.5' x2='163.5' y1='74' y2='185.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2332b1c1'/%3E%3Cstop offset='1' stop-color='%2314c6b7'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");
}
/* figma  */
.devicon--figma {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%230acf83' d='M45.5 129c11.9 0 21.5-9.6 21.5-21.5V86H45.5C33.6 86 24 95.6 24 107.5S33.6 129 45.5 129m0 0'/%3E%3Cpath fill='%23a259ff' d='M24 64.5C24 52.6 33.6 43 45.5 43H67v43H45.5C33.6 86 24 76.4 24 64.5m0 0'/%3E%3Cpath fill='%23f24e1e' d='M24 21.5C24 9.6 33.6 0 45.5 0H67v43H45.5C33.6 43 24 33.4 24 21.5m0 0'/%3E%3Cpath fill='%23ff7262' d='M67 0h21.5C100.4 0 110 9.6 110 21.5S100.4 43 88.5 43H67zm0 0'/%3E%3Cpath fill='%231abcfe' d='M110 64.5c0 11.9-9.6 21.5-21.5 21.5S67 76.4 67 64.5S76.6 43 88.5 43S110 52.6 110 64.5m0 0'/%3E%3C/svg%3E");
}
/* github  */
.devicon--github-wordmark {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cg fill='%23181616'%3E%3Cpath fill-rule='evenodd' d='M64 1.512c-23.493 0-42.545 19.047-42.545 42.545c0 18.797 12.19 34.745 29.095 40.37c2.126.394 2.907-.923 2.907-2.047c0-1.014-.04-4.366-.058-7.92c-11.837 2.573-14.334-5.02-14.334-5.02c-1.935-4.918-4.724-6.226-4.724-6.226c-3.86-2.64.29-2.586.29-2.586c4.273.3 6.523 4.385 6.523 4.385c3.794 6.504 9.953 4.623 12.38 3.536c.383-2.75 1.485-4.628 2.702-5.69c-9.45-1.075-19.384-4.724-19.384-21.026c0-4.645 1.662-8.44 4.384-11.42c-.442-1.072-1.898-5.4.412-11.26c0 0 3.572-1.142 11.7 4.363c3.395-.943 7.035-1.416 10.65-1.432c3.616.017 7.258.49 10.658 1.432c8.12-5.504 11.688-4.362 11.688-4.362c2.316 5.86.86 10.187.418 11.26c2.728 2.978 4.378 6.774 4.378 11.42c0 16.34-9.953 19.938-19.427 20.99c1.526 1.32 2.886 3.91 2.886 7.88c0 5.692-.048 10.273-.048 11.674c0 1.13.766 2.458 2.922 2.04c16.896-5.632 29.07-21.574 29.07-40.365C106.545 20.56 87.497 1.512 64 1.512' clip-rule='evenodd'/%3E%3Cpath d='M37.57 62.596c-.095.212-.428.275-.73.13c-.31-.14-.482-.427-.382-.64c.09-.216.424-.277.733-.132c.31.14.486.43.38.642zm1.723 1.924c-.203.187-.6.1-.87-.198c-.278-.297-.33-.694-.124-.884c.208-.188.593-.1.87.197c.28.3.335.693.123.884zm1.677 2.448c-.26.182-.687.012-.95-.367c-.262-.377-.262-.83.005-1.013c.264-.182.684-.018.95.357c.262.385.262.84-.005 1.024zm2.298 2.368c-.233.257-.73.188-1.093-.163c-.372-.343-.475-.83-.242-1.087c.237-.257.736-.185 1.102.163c.37.342.482.83.233 1.086zm3.172 1.374c-.104.334-.582.485-1.064.344c-.482-.146-.796-.536-.7-.872c.1-.336.582-.493 1.067-.342c.48.144.795.53.696.87zm3.48.255c.013.35-.396.642-.902.648c-.508.012-.92-.272-.926-.618c0-.354.4-.642.908-.65c.506-.01.92.272.92.62m3.24-.551c.06.342-.29.694-.793.787c-.494.092-.95-.12-1.014-.46c-.06-.35.297-.7.79-.792c.503-.088.953.118 1.017.466zm0 0'/%3E%3C/g%3E%3Cpath fill='%23100e0f' d='M24.855 108.302h-10.7a.5.5 0 0 0-.5.5v5.232a.5.5 0 0 0 .5.5h4.173v6.5s-.937.32-3.53.32c-3.056 0-7.327-1.116-7.327-10.508c0-9.393 4.448-10.63 8.624-10.63c3.614 0 5.17.636 6.162.943c.31.094.6-.216.6-.492l1.193-5.055a.47.47 0 0 0-.192-.39c-.403-.288-2.857-1.66-9.058-1.66c-7.144 0-14.472 3.038-14.472 17.65c0 14.61 8.39 16.787 15.46 16.787c5.854 0 9.405-2.502 9.405-2.502c.146-.08.162-.285.162-.38v-16.316a.5.5 0 0 0-.5-.5zM79.506 94.81H73.48a.5.5 0 0 0-.498.503l.002 11.644h-9.392V95.313a.5.5 0 0 0-.497-.503H57.07a.5.5 0 0 0-.498.503v31.53c0 .277.224.503.498.503h6.025a.5.5 0 0 0 .497-.504v-13.486h9.392l-.016 13.486c0 .278.224.504.5.504h6.038a.5.5 0 0 0 .497-.504v-31.53a.497.497 0 0 0-.497-.502m-47.166.717c-2.144 0-3.884 1.753-3.884 3.923c0 2.167 1.74 3.925 3.884 3.925c2.146 0 3.885-1.758 3.885-3.925c0-2.17-1.74-3.923-3.885-3.923m2.956 9.608H29.29c-.276 0-.522.284-.522.56v20.852c0 .613.382.795.876.795h5.41c.595 0 .74-.292.74-.805v-20.899a.5.5 0 0 0-.498-.502zm67.606.047h-5.98a.5.5 0 0 0-.496.504v15.46s-1.52 1.11-3.675 1.11s-2.727-.977-2.727-3.088v-13.482a.5.5 0 0 0-.497-.504h-6.068a.5.5 0 0 0-.498.504v14.502c0 6.27 3.495 7.804 8.302 7.804c3.944 0 7.124-2.18 7.124-2.18s.15 1.15.22 1.285c.07.136.247.273.44.273l3.86-.017a.5.5 0 0 0 .5-.504l-.003-21.166a.504.504 0 0 0-.5-.502zm16.342-.708c-3.396 0-5.706 1.515-5.706 1.515V95.312a.5.5 0 0 0-.497-.503H107a.5.5 0 0 0-.5.503v31.53a.5.5 0 0 0 .5.503h4.192c.19 0 .332-.097.437-.268c.103-.17.254-1.454.254-1.454s2.47 2.34 7.148 2.34c5.49 0 8.64-2.784 8.64-12.502s-5.03-10.988-8.428-10.988zm-2.36 17.764c-2.073-.063-3.48-1.004-3.48-1.004v-9.985s1.388-.85 3.09-1.004c2.153-.193 4.228.458 4.228 5.594c0 5.417-.935 6.486-3.837 6.398zm-63.689-.118c-.263 0-.937.107-1.63.107c-2.22 0-2.973-1.032-2.973-2.368v-8.866h4.52a.5.5 0 0 0 .5-.504v-4.856a.5.5 0 0 0-.5-.502h-4.52l-.007-5.97c0-.227-.116-.34-.378-.34h-6.16c-.238 0-.367.106-.367.335v6.17s-3.087.745-3.295.805a.5.5 0 0 0-.36.48v3.877a.5.5 0 0 0 .497.503h3.158v9.328c0 6.93 4.86 7.61 8.14 7.61c1.497 0 3.29-.48 3.586-.59c.18-.067.283-.252.283-.453l.004-4.265a.51.51 0 0 0-.5-.502z'/%3E%3C/svg%3E");
}
/* google  */
.devicon--google {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%23fff' d='M44.59 4.21a63.28 63.28 0 0 0 4.33 120.9a67.6 67.6 0 0 0 32.36.35a57.13 57.13 0 0 0 25.9-13.46a57.44 57.44 0 0 0 16-26.26a74.3 74.3 0 0 0 1.61-33.58H65.27v24.69h34.47a29.72 29.72 0 0 1-12.66 19.52a36.2 36.2 0 0 1-13.93 5.5a41.3 41.3 0 0 1-15.1 0A37.2 37.2 0 0 1 44 95.74a39.3 39.3 0 0 1-14.5-19.42a38.3 38.3 0 0 1 0-24.63a39.25 39.25 0 0 1 9.18-14.91A37.17 37.17 0 0 1 76.13 27a34.3 34.3 0 0 1 13.64 8q5.83-5.8 11.64-11.63c2-2.09 4.18-4.08 6.15-6.22A61.2 61.2 0 0 0 87.2 4.59a64 64 0 0 0-42.61-.38'/%3E%3Cpath fill='%23e33629' d='M44.59 4.21a64 64 0 0 1 42.61.37a61.2 61.2 0 0 1 20.35 12.62c-2 2.14-4.11 4.14-6.15 6.22Q95.58 29.23 89.77 35a34.3 34.3 0 0 0-13.64-8a37.17 37.17 0 0 0-37.46 9.74a39.25 39.25 0 0 0-9.18 14.91L8.76 35.6A63.53 63.53 0 0 1 44.59 4.21'/%3E%3Cpath fill='%23f8bd00' d='M3.26 51.5a63 63 0 0 1 5.5-15.9l20.73 16.09a38.3 38.3 0 0 0 0 24.63q-10.36 8-20.73 16.08a63.33 63.33 0 0 1-5.5-40.9'/%3E%3Cpath fill='%23587dbd' d='M65.27 52.15h59.52a74.3 74.3 0 0 1-1.61 33.58a57.44 57.44 0 0 1-16 26.26c-6.69-5.22-13.41-10.4-20.1-15.62a29.72 29.72 0 0 0 12.66-19.54H65.27c-.01-8.22 0-16.45 0-24.68'/%3E%3Cpath fill='%23319f43' d='M8.75 92.4q10.37-8 20.73-16.08A39.3 39.3 0 0 0 44 95.74a37.2 37.2 0 0 0 14.08 6.08a41.3 41.3 0 0 0 15.1 0a36.2 36.2 0 0 0 13.93-5.5c6.69 5.22 13.41 10.4 20.1 15.62a57.13 57.13 0 0 1-25.9 13.47a67.6 67.6 0 0 1-32.36-.35a63 63 0 0 1-23-11.59A63.7 63.7 0 0 1 8.75 92.4'/%3E%3C/svg%3E");
}
/* vercel  */
.skill-icons--vercel-dark {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cg fill='none'%3E%3Crect width='256' height='256' fill='%23242938' rx='60'/%3E%3Cpath fill='%23fff' d='m128 34l95 164.853H33z'/%3E%3C/g%3E%3C/svg%3E");
}